@tailwind base;
@tailwind components;
@tailwind utilities;


.mycd-headwrap{
    height:53px;
    }
    
.mycd-centerwrap{
height:100%;
}

.mycd-logo{
    transform: scale(1.5);
    padding: 4px;
}

.mycd-homecenter{
    width: 100%;
}

.mycd-profilebg{
    background-image: url('https://source.unsplash.com/random?blue sky');
    background-size:cover;
    background-repeat: no-repeat;
}