@tailwind base;
@tailwind components;
@tailwind utilities;


.mycd-headwrap{
    height:53px;
    }
    
.mycd-centerwrap{
height:100%;
}

.mycd-logo{
    transform: scale(1.3);
    padding: 2px;
}

.mycd-homecenter{
    width: 100%;
}